<div class="cancel-btn" {{action 'clearSelection'}}>✕</div>
<div class="num-selected">{{service.numOfSelected}} Selected</div>
<div class="action-buttons">
	<div class="action-btn icon-share"></div>
	<div class="action-btn icon-plus" {{action 'openTopModal' 'addToCollection'}}></div>
	<div class="action-btn icon-trash" {{action 'trashSelected'}}></div>
</div>