<div class="cancel-btn" {{action 'clearSelection'}}>✕</div>
<div class="num-selected">{{service.numOfSelected}} Selected</div>
<div class="action-buttons">
	<div class="action-btn icon-share"></div>
	<div class="action-btn icon-plus"></div>
	<div class="action-btn icon-trash"></div>
</div>