<div class="image-container" style={{model.photoStyle}}>
	<div class="flex-vert-align">
		<div class="name">{{model.name}}</div>
	</div>
</div>
{{#link-to 'collection' model.slug class="card-link"}}{{/link-to}}
