<div class="action-buttons">
		<div class="action-btn icon-share has-tooltip tooltip-below" {{action 'openTopModal' 'shareCollection' targetModel}}>
			<div class="tooltip">Share</div>
		</div>
</div>