{{#if needsRefresh}}
	{{refresh-done parentComponent=this}}
{{else}}
	{{#each model as |item|}}
		{{item-card model=item addedClass=addedClass}}
	{{else}}
		<div class="sorter-explain extension-only">Drag stuff here</div>
	{{/each}}
{{/if}}
