<div class="image-container" style={{model.photoStyle}}>
	<div class="selector-holder">
		<div class="selector icon-check-circle"></div>
	</div>
	<div class="zoom-btn"></div>
</div>
<div class="details-box">
	<div class="vertical-center-parent">
		<div class="name">{{model.name}}</div>
		<div class="type">{{model.itemType}}
			{{#if model.parentName}}
				in {{model.parentName}}
			{{/if}}
		</div>
	</div>
</div>
{{#link-to 'item' model.slug class="card-link"}}{{/link-to}}