<div class="has-extension" {{action 'openExtension'}}>Open in TripMind</div>
<a class="no-extension" target="_blank" href="https://chrome.google.com/webstore/detail/tripmind/jefanopdgmnpggnnicgfkbajikmabhgf">Get my own TripMind ></a>
