@import "ember-modal-dialog/ember-modal-structure";


@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	box-shadow: $args;
}

@mixin box-sizing($args...) {
	-webkit-box-sizing: $args;
	-moz-box-sizing: $args;
	box-sizing: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	transform: $args;
}

@mixin transform-origin($args...) {
	-webkit-transform-origin: $args;
	-moz-transform-origin: $args;
	-ms-transform-origin: $args;
	transform-origin: $args;
}


$blue-dark: #005A9B;
$blue-reg: #0078B4;
$blue-light-muted: #c7e1ff;

$orange-reg: #F07800;
$orange-light: #f5d3a2;
$orange-transparent:  rgba(255, 153, 0, 0.33);

$red: #EB0934;
$red-light: #FFAAAA;

$red-flat: #C0392B; //#ED4C3C;
$red-flat-dark: #A01709; //#C0392B;
$red-flat-light: #ED4C3C; //#ebb3af;


$green: #5AC828;
$green-muted: #6DC346;
$green-light: #CCFFCC;

$teal-light: #87decd;
$teal-reg: #1ABC9C;
$teal-darker: #16A085;

$yellow-light: #FFFFCC;
$yellow-dark: #C7C700;
$yellow-strong: #FFdd55;
$yellow-sponsor: #EAEA00;

$gray-background: #f4f4f4;
$gray-ultralight: #eee;
$gray-night: #ccc;
$gray-light: #889baa;
$gray-reg: #5c6a73;
$gray-dark: #333;



$black-1qtrans: rgba(0,0,0,0.25);
$black-semitrans: rgba(0,0,0,0.5);
$black-3qtrans: rgba(0,0,0,0.75);
$gray-1qtrans: rgba(204, 204, 204, 0.25);
$gray-semitrans: rgba(204, 204, 204, 0.5);
$gray-3qtrans: rgba(204,204,204,0.75);
$white-1qtrans: rgba(255,255,255,0.25);
$white-semitrans: rgba(255,255,255,0.5);
$white-3qtrans: rgba(255,255,255,0.75);

body {
	font-family: 'roboto';
	margin: 0;
	background: #efefef;
	font-size: 100%;

	&.modal-open{
		overflow: hidden;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

[data-ember-action]:not(:disabled) {
	cursor: pointer;
}

.flex-container{
	display: flex;
}

.flex-vert-align{
	display: flex;
	align-items: center;
	height: 100%;
}

.has-tooltip{
	position: relative;

	.tooltip{
		position: absolute;
		background: rgba(0,0,0,0.7);
		color: white;
		font-size: 11px;
		line-height: 2em;
		padding: 0 1em;
		border-radius: 3px;
		white-space: nowrap;
		display: none;
		right: 0;

		&.from-left{
			right: auto;
			left: 0;
		}
	}

	&:hover{
		.tooltip{
			display: block;
		}
	}
}

.hidden{
	display: none !important;
}


.flat-btn{
	line-height: 3em;
	padding: 0 1em;
	margin: 1em 0;
	display: inline-block;
	border-radius: 5px;
	text-transform: uppercase;
	color: #777;
	font-weight: bold;
	vertical-align: middle;
	&:hover{
		background-color: rgba(0,0,0,0.1);
	}

	&:before{
		margin-right: 1em;
		font-size: 1.5em;
		vertical-align: middle;
	}
	&.small{
		font-size: 0.8em;
	}
}

.map-canvas, #actual-map {
	height:100%;
	width: 100%;
}

#map-resize{
	position: fixed;
	top:0;
	width: 10px;
	bottom:0;
	z-index: 11;
	right: 295px;
	cursor:e-resize;
	&:hover, &.ui-draggable-dragging{
		background-color: rgba(0,0,0,0.5);
	}
}

.map-marker {
	width: auto;
	height: 20px;
	margin-top: -20px !important;
	margin-left: 4px !important;
	cursor: pointer;

	.marker-image-container {
		display: none;
	}

	.marker-details {
		position: relative;
		width: 100%;
		background: white;
		color: $gray-reg;
		z-index: 2;
	}

	.marker-label {
		font-size: 12px;
		color: $gray-dark;
		padding: 2px 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: none;
		font-weight: 700;
		border-bottom: 2px solid $red;
	}

	.marker-oneliner {
		padding: 6px 5px;
		max-height: 3em;
		text-overflow: ellipsis;
		overflow: hidden;
		display: none;
	}

	.read-more {
		color: $blue-reg;
		padding: 1em;
		text-align: right;
		display: none;
	}

	.marker-type {
		max-width: 10em;
		padding: 2px 5px;
		display: none;
	}

	&.trippoint {
		background-color: transparent;

		.marker-details {
			border-bottom-color: $green;
		}
		&:after {
			border-color: $green transparent transparent transparent;
		}
	}


	&.route {
		margin-top: -65px !important;
		margin-left: -11px !important;
		width: 200px;
		height: 60px;
		background-color: transparent;

		.marker-details {
			border-bottom-color: $green;
		}
		.marker-label {
			display: block;
			max-width: none;
			line-height: 1.5em;
			white-space: normal;
		}
		&:after {
			border-color: $green transparent transparent transparent;
		}
	}

	&.trippoint.alternate,
	&.route.alternate {
		.marker-details {
			border-bottom-color: $blue-reg;
		}
		&:after {
			border-color: $blue-reg transparent transparent transparent;
		}
	}

	&.collection {
		.marker-label {
			border-bottom-color: $orange-reg;
			background-color: $orange-light;
		}
		&:after {
			border-color: $orange-reg transparent transparent transparent;
		}
	}

	&.prominent {
		width: 200px;
		height: auto;
		margin-top: -152px !important;
		overflow: visible !important;
		@include box-shadow(0px 0px 1px 1px $black-1qtrans, 3px 3px 1px $black-1qtrans);
		z-index: 0 !important;

		.marker-label, .marker-oneliner, .marker-type, .read-more {
			display: block;
		}

		.marker-image-container {
			display: block;
			background: $gray-ultralight url('/assets/images/loading.gif') no-repeat scroll center center;

			.marker-image {
				width: 200px;
				height: 132px;
			}
		}
	}
}

#left-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	background: white;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
	width: 3em;
	white-space: nowrap;
	overflow: hidden;
	z-index: 20;
	transition: 0.2s;
	&:hover{
		width: 15em;
	}

	&.is-hidden{
		transform: translate3d(-10em, 0, 0);
	}

}

#top-logo {
	width: 100%;
	line-height: 4em;
	display: block;
	padding: 0 0 0 4em;
	box-sizing: border-box;
	color: #E74C3C;

	&:before{
		background-image: url("/assets/images/128_icon.png");
		height: 3em;
		width: 2.5em;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		left: .25em;
		top: .75em;
		content: "";
	}
}

.menu-link {
	display: block;
	line-height: 3em;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	padding: 0 .75em;
	&.active {
		background: #eee;
	}

	&:before {
		font-size: 1.5em;
		top: .2em;
		display: inline-block;
		position: relative;
		padding-right: 1em;
	}
}

.menu-line {
	height: 1px;
	background: #ccc;
	margin: 1em 0;
}

.action-bar {
	height: 4em;

	left: 3em;
	right: 3em;
	top: 0;
	transform: translate3d(0,-5em,0);
	transition: transform 0.2s;
	line-height: 4em;


	.cancel-btn, .num-selected, .action-buttons{
		display: inline-block;
		vertical-align: top;
	}

	.cancel-btn{
		width: 2.5em;
		text-align: center;
		font-size: 1.5em;
		cursor: pointer;
	}

	.num-selected{
		border-left: 1px solid white;
		padding-left: 1em;
	}

	.action-buttons{
		float: right;
		.action-btn{
			display: inline-block;
			font-size: 1.5em;
			width: 2em;
			text-align: center;
			line-height: 2.6em;
			vertical-align: top;
			cursor: pointer;
		}
	}

	.action-btn.undo:after{
		content: "";
		background: #333;
		height: 2px;
		width: 33px;
		position: absolute;
		transform: rotate(-54deg);
		top: 30px;
		left: 8px;
	}

	&.is-active, &.in{
		transform: translate3d(0,0,0);
	}
	&.is-active{
		left:0;
	}

	&.in:not(.is-active){
		transition: none;
		background: transparent;
		color: #E74C3C;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.action-bar{
	background: #E74C3C;
	color: white;
	position: fixed;
	z-index: 15;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
#collection-action-bar {
	left: auto;
	z-index: 14;
	box-shadow: none;
}
#action-bar-placeholder {
	height: 0;
	width: 100%;
	transition: height 0.2s;

	&.is-active, &.in{
		height: 4em;
	}
}

#rhs-container {
	border-left: 5em solid transparent;
	border-right: 0em solid transparent;
	padding: 1em;
	background: #efefef;
}

.map-expand-toggle{
	@extend .icon-map;
	@extend .has-tooltip;
	background: #777;
	color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	height: 2.66em;
	line-height: 2.66em;
	width: 2em;
	right: 0;
	top: 0;
	position: fixed;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	z-index: 11;

	&:before{
		@extend .wa-font;
	}

	&:hover{
		opacity: 1;
	}

	&.is-expanded{
		@extend .icon-remove;
		top:0;
	}
}

#expanded-map{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	box-shadow: -1px 0 1px rgba(0, 0, 0, 0.25);
	width: 1em;
}


.search-page {
	.search-field-wrapper {
		position: fixed;
		top: 0;
		left: 3em;
		right: 0;
		margin: 0;
		z-index: 997;
	}
}

.search-holder{
	position: relative;
	margin:auto;
	margin-top:1em;
	max-width: 35em;
}



.search-field {
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 1em 3em 1em 3em;
	@include box-shadow(0 1px 1px $black-3qtrans);
	border: none;
	font-size: 1em;
	@include box-sizing(border-box);
	font-family: inherit;
	outline: none;
}


.clear-search {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 998;
	line-height: 3em;
	width: 3em;
	font-size: 1em;
	text-align: center;
}

.ui-autocomplete{
	line-height: 1.5em;
	color: $gray-dark;
	border: none;
	max-width: 35em;
}

.ui-menu .ui-menu-item {
	margin: 1em
}

.ui-widget-content .ui-state-focus {
	background: $red-flat-light;
	color: white;
	border: none;
	border-radius: 5px;
}

.search-field-spacer{
	height: 4em;
}


.collection-search-field-wrapper{
	color: #777;

	.search-holder{
		margin: 0;
		line-height: 3em;
		padding: 0 1em;
		&:before{
			font-size: 1.5em;
			vertical-align: middle;
			margin-right: 1em;
		}

		.clear-search{
			display: none;
		}

		&:hover{
			.clear-search{
				display: block;
			}
		}
	}
	.search-field{
		background: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	  	margin: 0 1em;
		line-height: 3em;
		padding: 0 3em;
		border: 1px solid transparent;

		&::-webkit-input-placeholder {
			color: #777;
			text-transform: uppercase;
			font-weight: bold;
		}

		&:focus{
			border-bottom-color: #333;
		}

	}
}



.options-menu{
	.toggle-btn{
		display: inline-block;
		line-height: 2em;
		padding: 0 1em;
		background: white;
		box-shadow: 0 1px 1px rgba(0,0,0,0.25);
		opacity: 0.75;

		&:after{
			content: " \25bc";
			font-size: 0.75em;
		}
	}
	.menu-body{
		font-size: 0.9em;
		position: absolute;
		top: 2em;
		right: 0;
		background: white;
		box-shadow: 0 1px 1px rgba(0,0,0,0.25);
		display: none;

		&.two-column{
			width: 33em;
		}
	}

	.menu-column{
		display: inline-block;
		vertical-align: top;
		margin: 1em 1em 1em 3em;
		width: 12em;
	}



	.menu-section{
		margin: 1em 0;
		line-height: 2em;
	}

	.menu-section-title{
		color: #aaa;
		margin-bottom: .5em;
	}

	.menu-option{
		cursor: pointer;
		position: relative;

		&.is-selected:before{
			content:'\2713 ';
			color: #E74C3C;
			font-weight: bold;
			position: absolute;
			left: -1.5em;
		}
	}

	&:hover, &.is-active{
		.toggle-btn{
			opacity: 1;
		}
		.menu-body{
			display: inline-block;
		}
	}
}

.section-options-menu{
	position: absolute;
	right: 3em;
	top:1em;
	z-index: 9;
}


.top-section-title {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.image-container, .photo-div {
	background-size: cover;
	background-position: 50% 50%;
	background-color: #DAD1D1;
}

.item-card, .collection-card {
	width: 15em;
	height: 16em;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: inline-block;
	margin: 0.5em;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	z-index: 0;

	.image-container {
		height: 11em;
	}

	.details-box {
		padding: 0.5em;
	}

	.name {
		font-weight: bold;
		line-height: 1.5em;
	}
	.type {
		color: #777;
		font-size: 0.8em;
	}

	.card-link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.selector-holder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($black-1qtrans), to(transparent));
		background: -webkit-linear-gradient(bottom, transparent, $black-1qtrans);
		background: -o-linear-gradient(bottom, transparent, $black-1qtrans);
		opacity: 0;
		transition: opacity 0.2s;
		z-index: 2;
	}

	.selector {
		margin: 0.25em;
		border-radius: 1em;
		height: 1em;
		width: 1em;
		font-size: 1.5em;
		color: white;
		opacity: 0.75;
		transition: opacity 0.2s;

		&:hover{
			opacity: 1;
		}
	}

	.zoom-btn{
		height: 2em;
		width: 2.5em;
		bottom: 0;
		font-size: 1.2em;
		position: absolute;
		right: 0;
		z-index: 3;
		line-height: 2.3em;
		text-align: center;
		color: #E74C3C;
		opacity: 0.75;
		transition: opacity 0.2s;

		&:hover{
			opacity: 1;
		}
	}




	&.is-selected{
		border: 0.375em solid #E74C3C;
		.selector{
			margin:0;
			color: #E74C3C;
			background-color: white;
			opacity: 1;
		}
		.selector-holder{
			background: none;
			opacity: 1;
		}
	}

	&:hover {
		.selector-holder {
			opacity: 1;
		}
	}

	&.in-select-mode:not(.is-selected){
		.selector-holder{
			opacity: 1;
			bottom:0;
		}
		.selector{
			padding:0.25em;
			margin: 0;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
		}
	}

	&.horizontal {
		margin: -2px 0;
		background: none;
		box-shadow: none;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		width: auto;
		height: auto;
		border: 2px solid transparent;

		.image-container, .name, .type, .date {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1em;
			font-size: 1em;
		}

		.image-container{
			margin-left: 3em;
			height: 5em;
			width:5em;
		}
		.name{
			width: 10em;
			white-space: normal;
		}
		.type{
			width: 10em;
			white-space: normal;
		}

		.selector-holder{
			left: 0em;
			width: 3em;
			bottom: 0;
			background: transparent;
			.selector {
				margin: 0.25em;
				color: #777;
				top: 1em;
				bottom: 1em;
				position: relative;
				padding: 0;
			}
		}

		&.is-selected{
			border-color: #E74C3C;
			.selector{
				color: #E74C3C;
				background-color: white;
				opacity: 1;
			}
			.selector-holder{
				background: none;
				opacity: 1;
			}
		}


	}

	&.small{
		display: block;
		width: 20em;
		height: auto;

		.image-container {
			display: inline-block;
			height: 5em;
			width: 5em;
			vertical-align: top;
		}

		.details-box{
			display: inline-block;
			vertical-align: top;
			width: 13em;
			.name{
				white-space: normal;
				line-height: 1.2em;
			}
		}

		&.inline{
			display: inline-block;
		}
	}
}

.collection-card, .item-card.sub-section-minimized {

	.image-container {
		height: 100%;
		border: 4px solid white;
		box-sizing: border-box;
	}

	&:before, &:after {
		content: "";
		background: #2F668F;
		border: 4px solid white;
		height: 16em;
		width: 15em;
		box-sizing: border-box;
		transform: rotate(-3deg);
		position: absolute;
		left: -6px;
		top: 0px;
		z-index: -1;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	}

	&:after {
		background: #C54235;
		transform: rotate(4deg);
		left: 1px;
	}

}

.collection-card{
	margin: 2em;

	.name{
		text-align: center;
		width: 100%;
		font-size: 1.5em;
		color: white;
		text-shadow: 0 2px 2px rgba(0,0,0,0.6), 0 3px 7px rgba(0,0,0,0.8);
	}
}

.collection-title{
	font-size: 2em;
	margin:0.25em 0 1em;
	width: 80%;
	display: block;
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	outline: none;
	&:hover{
		border-bottom-color: #ccc;
	}
	&:focus{
		border-bottom-color: #E74C3C;
	}

}

.is-editable{
	border: 1px solid transparent;
	&:hover{
		border-color: #ccc;
	}
	&:focus{
		background-color: #eee;
	}
}


.link-card{
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
	background: white;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	max-width: 20em;
	max-height: 11em;
	margin: 0 1em 1em 0;
	overflow: hidden;
	position: relative;
	.title{
		font-size:1.2em;
		color: #888;
		font-weight: bold;
		margin-bottom: 0.3em;
	}
	.subtitle{
		font-size: 0.8em;
		margin-bottom: 1em;
		a{
			color: #0077ff;
			cursor: pointer;
		}
	}
	.image-container{
		height: 5.5em;
		width: 6em;
		float: left;
		margin-right: 1em;
	}
	.description{
		color: #777;
		line-height: 1.5em;
		min-height: 1.5em;
		margin: 1em 0;
		-webkit-appearance: none;
		font: inherit;
		resize: initial;
		outline: none;
		border-color: transparent;
		white-space: normal;
		line-height: 1.5em;
		&:hover, &:focus{
			border-color: #ccc;
		}


		a{
			color: #0077ff;
			cursor: pointer;
		}
	}

	.delete-btn{
		position: absolute;
		top: 0;
		right: 0;
		line-height: 2em;
		min-width: 2em;
		display: none;
		opacity: 0.75;
		cursor: pointer;
		color: #E74C3C;
		font-size: 1.1em;
		&:hover{
			opacity: 1;
		}
	}



	&.is-expanded{
		max-height: none;
		max-width: none;

		.expand-hint:before{
			content: "Minimize";
		}

		.delete-btn{
			display: inline-block;
		}

		.description:empty:before{
			content: "Add a note";
			color: #ccc;
		}
	}
	.expand-hint{
		position: absolute;
		bottom: 0.5em;
		right: 0.5em;
		background: #777;
		padding: 0.5em;
		color: white;
		border-radius: 5px;
		opacity: 0;
		transform: opacity 0.2s;
		&:before{
			content:"Expand"
		}
	}
	&:hover{
		.expand-hint{
			opacity: 0.75;
		}
	}
}

.confirm-holder{
	font-size: 0.9em;
	margin: 1em;
	position: relative;
	background: #333;
	color: white;
	border-radius: 1em;
	padding: 0 1em;
	white-space: nowrap;
	.confirm-button{
		display: inline-block;
		margin-left: 1em;
		cursor: pointer;
		color: #ccc;
		&:hover{
			color: white;
		}
	}
}

.recent-titles{
	white-space: nowrap;
	margin: 1em 2px;

	.title{
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;
		white-space: normal;
	}

	.image-container{
		width: 9em;
	}

	.name, .type{
		width: 11em;
	}
}

.title-ancestry {
	font-size: 1.2em;
	font-weight: bold;
	color: #555;
	margin-bottom: 1em;
}

.top-content, .bottom-content {
	direction: rtl;
	text-align: left;

	> * {
		direction: ltr;
	}
}

.lhs {
	max-width: 50em;
	color: #333;
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;

	.long-desc {
		margin: 1em 0;
		-webkit-appearance: none;
		font: inherit;
		resize: initial;
		background: none;
		outline: none;
		border-color: transparent;
		white-space: normal;
		line-height: 1.5em;
		min-height: 1.5em;
		&:hover, &:focus{
			border-color: #ccc;
		}

		&:empty:before{
			content:"Add a description";
			color: #ccc;
		}
	}
}

.rhs {
	display: inline-block;
	width: 27em;
	margin-bottom: 1em;
	vertical-align: top;

	.main-image, .map-placeholder {
		height: 13em;
		width: 13em;
		display: inline-block;
		position: relative;

		.map-expand-toggle{
			position: absolute;
			height: 2em;
			line-height: 2em;
			&:before{
				content:"o";
			}
		}
	}
}

.details-holder{
	background: white;
	padding: 1em 1em 0 1em;
	width: 26.3em;
	box-sizing: border-box;

	.details-title{
		font-weight: bold;
		color: #333;
		line-height: 2em;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1em;
	}

	.detail-line{
		height: 3em;
	}

	.detail-title{
		font-weight: bold;
		vertical-align: top;
		line-height: 1em;
		&:after{
			content: ":";
		}
	}

	.detail-value{
		vertical-align: top;
		line-height: 1em;
	}

	.detail-hours, .detail-day-title{
		font-size: 0.9em;
	}
}

.scroll-menu {
	display: inline-block;
	vertical-align: top;
	color: #777;
	width: 10em;
	line-height: 2em;
	position: fixed;
	flex-grow: 0;

	.scroll-link {
		cursor: pointer;
	}
}

.scrollable-rhs-content {
	display: inline-block;
	vertical-align: top;
	margin-left: 10em;
	border-left: 1px solid #ccc;
	padding-left: 1em;
	position: relative;
	flex-grow: 1;

	&.no-margin{
		margin: 0;
	}

}

.section-holder {
	margin: 2em 0;

	.section-title{
		.selector-holder{
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			width: 0;
			transition: width 0.1s ease-in;
		}
		.selector{
			display: inline-block;
			cursor: pointer;
			font-size: 1.5em;
			line-height: 1em;
			vertical-align: top;
			color: #333;
			opacity: 0;
			transition: opacity 0.5s ease-in;
		}
	}
	.toggle-minimized {
		display: inline-block;
		margin-left: 1em;
		cursor: pointer;
		background: #fafafa;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		border-radius: 4em;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		vertical-align: middle;

		&:hover {
			box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		}

		&:before {
			content: "\2014";
			font-size: 1.2em;
			line-height: 1.5em;
			vertical-align: top;
		}
	}

	&.is-minimized {
		.toggle-minimized {
			&:before {
				content: "+";
			}
		}
	}



	&.is-selected{
		.section-title{
			.selector{
				color: #E74C3C;
			}
		}
	}

}

.major-section{
	 &:hover, &.in-select-mode, &.is-selected{
		 .major-section-title {
			 .selector-holder {
				 width: 2em;
			 }
			 .selector {
				 opacity: 1;
			 }
		 }
	 }
 }

.sub-section{
	&:hover, &.in-select-mode, &.is-selected{
		.sub-section-title {
			.selector-holder {
				width: 2em;
			}
			.selector {
				opacity: 1;
			}
		}
	}
}

.major-section-title {
	border-bottom: 1px solid #777;
	line-height: 2em;
	padding-left: 1em;
	box-sizing: border-box;
	width: 100%;
	margin: 1em 0;
	font-weight: bold;
}

.sub-section {
	display: inline-block;
	margin: 0 2em;
	vertical-align: top;
	.sub-section-title {
		margin: 2em 0 0 0.5em;
		white-space: nowrap;
		max-width: 240px
	}

}

.ember-modal-overlay.translucent {
	background-color: rgba(#808080, .77);
}



.ember-modal-dialog{
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	-webkit-animation: modal-appear 0.2s ease-in-out;
	-moz-animation: modal-appear 0.2s ease-in-out;
	-o-animation: modal-appear 0.2s ease-in-out;
	animation: modal-appear 0.2s ease-in-out;
	margin: auto;
	left: 0;
	right: 0;
	width: 80%;
	max-width: 50em;
	top: 10em;
}

@-webkit-keyframes modal-appear{
	0.00% {-webkit-transform: scale3d(0,0,0);}
	100%{-webkit-transform: scale3d(1,1,1);}
}

@keyframes modal-appear{
	0.00% {transform: scale3d(0,0,0);}
	100%{transform: scale3d(1,1,1);}
}

.modal-close.close-btn{
	position: absolute;
	right: 1em;
	top: 1em;
}

.modal-title{
	font-weight: bold;
	padding: 1em;
	border-bottom: 1px solid #E74C3C;
}
.modal-content{
	padding: 1em;
	max-height: 22em;
	overflow: auto;
}


.collection-option {
	margin-top: 1em;
	color: #777;

	.image-container{
		display: inline-block;
		height: 3em;
		width: 3em;
		vertical-align: middle;
	}
	.name{
		display: inline-block;
		vertical-align: middle;
		margin-left: 1em;
	}

	&:hover{
		color: #333;
	}

	&.new {
		.image-container{
			background-color: #E74C3C;
			border-radius: 100%;

			&:after{
				content: "+";
				color: white;
				line-height: 1.5em;
				text-align:center;
				font-size: 2em;
				width: 1.5em;
				display: inline-block;
			}
		}
	}
}


.collection-list{
	display: inline-block;
}
.collection-link{
	display: block;
	line-height: 2em;
	color: #777;
	&:hover{
		color: #333;
	}

}

.share-link{
	display: inline-block;
	width: 75%;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.share-copy{
	margin-left: 1em;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 1em;
	border-radius: 5px;
	&:hover{
		color: black;
	}

	&:active{
		background: #ddd;
	}

}

.share-input{
	width: 1px;
	outline: none;
	-webkit-appearance: none;
	border: none;
	opacity: 0;
}


.feedback {
	position: fixed;
	bottom: -500px;
	z-index: 20000;
	background: yellow;
	max-width: 40em;
	left:0;
	right: 0;
	margin: auto;
	min-height: 3em;
	font-size: 0.8em;
	@include transition(transform .5s);
	-webkit-transition: -webkit-transform .5s;
	box-shadow: 0 2px 2px rgba(0,0,0,0.35);

	.sentence{
		margin: 1em;
		margin-right: 4em;


		a{
			font-weight: 700;
		}
	}
	.button{
		margin: 1em;
		text-transform: uppercase;
		font-weight: 700;
	}
	.dismiss{
		position: absolute;
		right: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 0 1em;
		height: 100%;
		line-height: 3.2em;
		color: white;
	}

	&.success{
		background: #8cdd7f;
	}

	&.failure{
		background: #c66167;
		color: white;
	}

	&.is-showing{
		@include transform(translate3d(0, -510px,0));
	}
}

@font-face {
	font-family: "wanderant";
	src: url(/assets/fonts/wanderant.eot);
	src: url(/assets/fonts/wanderant.eot?#iefix) format("embedded-opentype"),
	url(/assets/fonts/wanderant.woff) format("woff"),
	url(/assets/fonts/wanderant.ttf) format("truetype"),
	url(/assets/fonts/wanderant.svg#wanderant) format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "wanderant" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.wa-font {
	font-family: "wanderant" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "a";
}
.icon-search:before {
	content: "c";
}
.icon-pencil:before {
	content: "d";
}
.icon-share:before {
	content: "e";
}
.icon-group:before {
	content: "f";
}
.icon-plus:before {
	content: "g";
}
.icon-logo:before {
	content: "i";
}
.icon-pin:before {
	content: "h";
}
.icon-map:before {
	content: "m";
}
.icon-remove:before {
	content: "l";
}
.icon-trash:before {
	content: "j";
}
.icon-trash2:before {
	content: "k";
}
.icon-edit:before {
	content: "p";
}
.icon-align-justify:before {
	content: "q";
}
.icon-magic-wand:before {
	content: "r";
}
.icon-print:before {
	content: "s";
}
.icon-embed:before {
	content: "b";
}
.icon-logo:before {
	content: "i";
}
.icon-undo:before {
	content: "u";
}
.icon-redo:before {
	content: "n";
}
.icon-zoom:before {
	content: "z";
}
.icon-expand:before {
	content: "o";
}
.icon-phone:before {
	content: "t";
}
.icon-nav:before {
	content: "v";
}
.icon-info:before {
	content: "w";
}
.icon-home:before {
	content: "x";
}
.icon-history:before {
	content: "y";
}
.icon-rotate:before {
	content: "A";
}
.icon-logout:before {
	content: "B";
}
.icon-login:before {
	content: "C";
}
.icon-download:before {
	content: "D";
}
.icon-check-circle:before {
	content: "O";
}
.icon-collections:before {
	 content: "E";
 }
.icon-cog:before {
	content: "F";
}
.icon-date:before {
	content: "G";
}


.loader-dots:before,
.loader-dots:after,
.loader-dots {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}

.loader-holder{
	position: relative;
	margin: auto;
	.loader{
		margin: 0px auto;
		position: relative;
	}

	&.white-loader{
		.loader, .loader:before, .loader:after{
			-webkit-animation: loadwhite 1.8s infinite ease-in-out;
			animation: loadwhite 1.8s infinite ease-in-out;
		}
		.loader:before {
			left: -3.5em;
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		.loader:after {
			left: 3.5em;
			-webkit-animation-delay: 0.16s;
			animation-delay: 0.16s;
		}
	}
}
.main-loader.loader-dots {
	font-size: 10px;
	margin: 0px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	position: fixed;
	z-index: 30000;
	top: 0em;
	right: 0;
	left: 0;
}
.loader-dots:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader-dots:after {
	left: 3.5em;
}
.loader-dots:before,
.loader-dots:after {
	content: '';
	position: absolute;
	top: 0;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		@include box-shadow( 0 2.5em 0 -1.3em rgba(255,255,255,0));
	}
	40% {
		@include box-shadow( 0 2.5em 0 0 #00aacc);
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		@include box-shadow(0 2.5em 0 -1.3em rgba(255,255,255,0));
	}
	40% {
		@include box-shadow(0 2.5em 0 0 #00aacc);
	}
}
@-webkit-keyframes loadwhite {
	0%,
	80%,
	100% {
		@include box-shadow( 0 2.5em 0 -1.3em rgba(255,255,255,0));
	}
	40% {
		@include box-shadow(0 2.5em 0 0 #ffffff);
	}
}
@keyframes loadwhite {
	0%,
	80%,
	100% {
		@include box-shadow(0 2.5em 0 -1.3em rgba(255,255,255,0));
	}
	40% {
		@include box-shadow(0 2.5em 0 0 #ffffff);
	}
}

.main-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 76px;
	width: 100px;
	margin-left: -50px;
	margin-top: -38px;
	z-index: 2000;
	-webkit-animation: modal-appear 0.2s ease-in-out;
	-moz-animation: modal-appear 0.2s ease-in-out;
	-o-animation: modal-appear 0.2s ease-in-out;
	animation: modal-appear 0.2s ease-in-out;
	.brain {
		height: 100%;
		width: 100%;
		background: url('/assets/images/brain.png');
		background-size: contain;
		background-repeat: no-repeat;
	}

	.dot1, .dot2{
		//display: none;
		position: absolute;
		background: #700;
		height: 12px;
		width: 12px;
		top: 26px;
		left: 25px;
		content: "";
		z-index: -1;
		-webkit-animation: dot1 2s infinite linear;

	}

	.dot2{
		-webkit-animation: dot2 2.5s infinite linear;
	}

	.dot3 {
		box-shadow: 0 0 100px #700;
		z-index: -1;
		background: transparent;
		height: 44px;
		width: 80px;
		top: 10px;
		border-radius: 200px;
		position: absolute;
		left: 10px;
	}
	.text {
		text-align: center;
		color: #E54A3A;
		left: 6px;
		top: 8px;
		position: relative;
	}

}

@-webkit-keyframes dot2 {
	0% {
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
		opacity: 0;
	}
	14% {
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
		opacity: 1;
	}
	28%{
		 height: 10px;
		 width: 8px;
		 top: 22px;
		 left: 50px;
	 }
	38%{
		height: 10px;
		width: 8px;
		top: 22px;
		left: 50px;
	}
	48%{
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
	}
	52%{
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
	}
	66%{
		height: 4px;
		width: 6px;
		top: 20px;
		left: 14px;
	}
	70%{
		height: 4px;
		width: 6px;
		top: 20px;
		left: 14px;
		opacity: 1;
	}
	84%{
		height: 4px;
		width: 6px;
		top: 20px;
		left: 14px;
		opacity: 0;
	}
	100%{
		height: 4px;
		width: 6px;
		top: 20px;
		left: 14px;
		opacity: 0;
	}
}
@-webkit-keyframes dot1 {
	0% {
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
		opacity: 0;
	}
	12% {
		height: 12px;
		width: 12px;
		top: 26px;
		left: 26px;
		opacity: 1;
	}
	25%{
		height: 12px;
		width: 12px;
		top: 14px;
		left: 30px;
	}
	40%{
		height: 12px;
		width: 6px;
		top: 7px;
		left: 53px;
	}
	52%{
		height: 13px;
		width: 40px;
		top: 12px;
		left: 51px;
		-webkit-transform: rotate(28deg);
	}
	65%{
		height: 10px;
		width: 11px;
		top: 21px;
		left: 78px;
		-webkit-transform: rotate(0deg);
	}
	66%{
		height: 10px;
		width: 11px;
		top: 21px;
		left: 78px;
		-webkit-transform: rotate(-62deg);
	}
	77%{
		height: 12px;
		width: 38px;
		top: 31px;
		left: 56px;
		-webkit-transform: rotate(-62deg);
	}
	90%{
		height: 10px;
		width: 10px;
		top: 44px;
		left: 65px;
		-webkit-transform: rotate(-62deg);
		opacity: 1;
	}
	91%{
		height: 10px;
		width: 10px;
		top: 44px;
		left: 65px;
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
	100%{
		height: 10px;
		width: 10px;
		top: 44px;
		left: 65px;
		-webkit-transform: rotate(0deg);
		opacity: 0;
	}
}



.sprite-rating_no_fill {
	background-image: url('/assets/images/ta.png');
	background-position: left 0;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
}

.sprite-rating_no {
	background-image: url('/assets/images/ta.png');
	background-position: left -16px;
	width: 80px;
	height: 16px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	margin-right: 4px;
	line-height: 16px;
	float: left;
}

.sprite-rating_s_fill {
	background-image: url('/assets/images/ta.png');
	background-position: left -32px;
	background-repeat: no-repeat;
	display: block;
	height: 14px;
}

.sprite-rating_s {
	background-image: url('/assets/images/ta.png');
	background-position: left -46px;
	width: 70px;
	height: 14px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	margin-right: 4px;
	line-height: 14px;
	float: left;
}

.sprite-rating_ss_fill {
	background-image: url('/assets/images/ta.png');
	background-position: left -60px;
	background-repeat: no-repeat;
	display: block;
	height: 10px;
}

.sprite-rating_ss {
	background-image: url('/assets/images/ta.png');
	background-position: left -70px;
	width: 50px;
	height: 10px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	margin-top: 1px;
	margin-right: 4px;
	line-height: 10px;
	float: left;
}

.sprite-rating_rr_fill {
	background-image: url('/assets/images/ta.png');
	background-position: left -80px;
	background-repeat: no-repeat;
	display: block;
	height: 18px;
}

.sprite-rating_rr {
	background-image: url('/assets/images/ta.png');
	background-position: left -98px;
	width: 90px;
	height: 18px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	margin-right: 4px;
	line-height: 18px;
	float: left;
}


.rating_rr .rr00 {
	width: 0;
}

.rating_rr .rr05 {
	width: 9px;
}

.rating_rr .rr10 {
	width: 18px;
}

.rating_rr .rr15 {
	width: 27px;
}

.rating_rr .rr20 {
	width: 36px;
}

.rating_rr .rr25 {
	width: 45px;
}

.rating_rr .rr30 {
	width: 54px;
}

.rating_rr .rr35 {
	width: 63px;
}

.rating_rr .rr40 {
	width: 72px;
}

.rating_rr .rr45 {
	width: 81px;
}

.rating_rr .rr50 {
	width: 90px;
}

.tutorial{
	margin: 1em;
	line-height: 1.5em;
	font-size: 1.5em;
	color: #333;

	a{
		color: #07f;
	}
}

.items-sorter {
	min-height: 5em;
	min-width: 15em;
	border: 1px solid transparent;
	&.with-border{
		border-color: #333;
	}

	.sorter-explain{
		font-size: 0.8em;
		color: rgba(0,0,0,0.5);
		margin: 1em;
		display: none;
	}

	&:hover, &.with-border{
		.sorter-explain{
			display: inline-block;
		}
	}
}
.date-view{
	background: rgba(255,255,255,0.5);
	display: inline-block;
	margin: 0 .5em .5em 0;
	position: relative;
	.date-name {
		min-height: 3em;
		font-weight: bold;
		padding: 1em;
		display: inline-block;
		vertical-align: top;
	}

	.items-sorter{
		display: inline-block;
		vertical-align: top;
	}

	.delete-date{
		display: none;
		opacity: 0.5;
		position: absolute;
		bottom: 0;
		left: 0;
		line-height: 2em;
		width: 2em;
		text-align: center;

		&:hover{
			opacity: 1;
		}
	}

	&:hover{
		.delete-date{
			display: block;
		}
	}

}


