
$black-1qtrans: rgba(0,0,0,0.25);
$black-semitrans: rgba(0,0,0,0.5);
$black-3qtrans: rgba(0,0,0,0.75);
$gray-1qtrans: rgba(204, 204, 204, 0.25);
$gray-semitrans: rgba(204, 204, 204, 0.5);
$gray-3qtrans: rgba(204,204,204,0.75);
$white-1qtrans: rgba(255,255,255,0.25);
$white-semitrans: rgba(255,255,255,0.5);
$white-3qtrans: rgba(255,255,255,0.75);

body {
	font-family: 'roboto';
	margin: 0;
	background: #efefef;
	font-size: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

#left-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	background: white;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
	width: 15em;
}

#top-logo {
	width: 100%;
	line-height: 4em;
	display: block;
	padding: 0 0 0 5em;
	box-sizing: border-box;
	color: #E74C3C;
}

.menu-link {
	display: block;
	line-height: 3em;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	padding: 0 1em;
	&.active {
		background: #eee;
	}
}

.menu-line {
	height: 1px;
	background: #ccc;
	margin: 1em 0;
}

#action-bar {
	height: 4em;
	background: #E74C3C;
	left: 15em;
	right: 0;
	position: fixed;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	transform: translate3d(0,-5em,0);

	&.is-active{
		transform: translate3d(0,0,0);
	}
}
#action-bar-placeholder {
	height: 4em;
	width: 100%;
	display: none;

	&.is-active{
		display: block;
	}
}

#rhs-container {
	border-left: 15em solid transparent;
	padding: 1em;
	background: #efefef;
}

.section-title {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.section-holder {
	margin: 2em 0;
	.section-title {
		cursor: pointer;

		&:after {
			content: " \25bc";
			font-size: 0.6em;
			line-height: 0.6em;
			vertical-align: middle;
		}

	}

	&.is-minimized .section-title:after {
		content: " \25b6";
		font-size: 0.9em;
	}

}

.image-container {
	background-size: cover;
	background-position: 50% 50%;
	background-color: #DAD1D1;
}

.item-card {
	width: 15em;
	height: 16em;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: inline-block;
	margin: 0.5em;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	z-index: 0;

	.image-container {
			height: 11em;
			.selector-holder{
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($black-1qtrans), to(transparent));
			background: -webkit-linear-gradient(bottom, transparent, $black-1qtrans);
			background: -o-linear-gradient(bottom, transparent, $black-1qtrans);
			opacity:0;
			transition: opacity 0.2s;
		}

		.selector{
			padding: 0.25em;
			font-size: 1.5em;
			color:rgba(255, 255, 255, 0.85);
		}
	}

	.details-box {
		padding: 0.5em;
	}

	.name {
		font-weight: bold;
		line-height: 1.5em;
	}
	.type {
		color: #777;
		font-size: 0.8em;
	}

	.card-link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&.sub-section-minimized {

		.image-container {
			height: 100%;
			border: 4px solid white;
			box-sizing: border-box;
		}

		&:before, &:after {
			content: "";
			background: #2F668F;
			border: 4px solid white;
			height: 16em;
			width: 15em;
			box-sizing: border-box;
			transform: rotate(-3deg);
			position: absolute;
			left: -6px;
			top: 0px;
			z-index: -1;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		}

		&:after {
			background: #C54235;
			transform: rotate(4deg);
			left: 1px;
		}
	}

	&:hover{
		.image-container{
			.selector-holder{
				opacity: 1;
			}
		}
	}
}

.title-ancestry {
	font-size: 1.2em;
	font-weight: bold;
	color: #555;
	margin-bottom: 1em;
}

.top-content, .bottom-content {
	direction: rtl;
	text-align: left;

	> * {
		direction: ltr;
	}
}

.lhs {
	max-width: 50em;
	color: #333;
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;

	.long-desc {
		line-height: 1.5em;
		margin: 1em 0;
	}
}

.rhs {
	display: inline-block;
	width: 27em;
	margin-bottom: 1em;
	vertical-align: top;

	.main-image, .main-map-link {
		height: 13em;
		width: 13em;
		display: inline-block;
	}
}

.scroll-menu {
	display: inline-block;
	vertical-align: top;
	color: #777;
	width: 10em;
	line-height: 2em;
	position: fixed;

	.scroll-link {
		cursor: pointer;
	}
}

.scrollable-rhs-content {
	display: inline-block;
	vertical-align: top;
	margin-left: 10em;
	border-left: 1px solid #ccc;
	padding-left: 1em;

}

.section-holder {
	.toggle-minimized {
		display: inline-block;
		margin-left: 1em;
		cursor: pointer;
		background: #fafafa;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		border-radius: 4em;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		vertical-align: middle;

		&:hover {
			box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
		}

		&:before {
			content: "\2014";
			font-size: 1.2em;
			line-height: 1.5em;
			vertical-align: top;
		}
	}

	&.is-minimized {
		.toggle-minimized {
			&:before {
				content: "+";
			}
		}
	}
}

.major-section-title {
	border-bottom: 1px solid #777;
	line-height: 2em;
	padding-left: 1em;
	width: 100%;
	margin: 1em 0;
	font-weight: bold;
}

.sub-section {
	display: inline-block;
	margin: 0 2em;
	vertical-align: top;
	.sub-section-title {
		margin: 2em 0 0 0.5em;

	}
	&.is-minimized .toggle-minimized{
		float: right;
	}
}



@font-face {
	font-family: "wanderant";
	src: url(/assets/fonts/wanderant.eot);
	src: url(/assets/fonts/wanderant.eot?#iefix) format("embedded-opentype"),
	url(/assets/fonts/wanderant.woff) format("woff"),
	url(/assets/fonts/wanderant.ttf) format("truetype"),
	url(/assets/fonts/wanderant.svg#wanderant) format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "wanderant" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.wa-font {
	font-family: "wanderant" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "a";
}
.icon-search:before {
	content: "c";
}
.icon-pencil:before {
	content: "d";
}
.icon-share:before {
	content: "e";
}
.icon-group:before {
	content: "f";
}
.icon-plus:before {
	content: "g";
}
.icon-logo:before {
	content: "i";
}
.icon-pin:before {
	content: "h";
}
.icon-map:before {
	content: "m";
}
.icon-remove:before {
	content: "l";
}
.icon-trash:before {
	content: "j";
}
.icon-trash2:before {
	content: "k";
}
.icon-edit:before {
	content: "p";
}
.icon-align-justify:before {
	content: "q";
}
.icon-magic-wand:before {
	content: "r";
}
.icon-print:before {
	content: "s";
}
.icon-embed:before {
	content: "b";
}
.icon-logo:before {
	content: "i";
}
.icon-undo:before {
	content: "u";
}
.icon-redo:before {
	content: "n";
}
.icon-zoom:before {
	content: "z";
}
.icon-expand:before {
	content: "o";
}
.icon-phone:before {
	content: "t";
}
.icon-nav:before {
	content: "v";
}
.icon-info:before {
	content: "w";
}
.icon-home:before {
	content: "x";
}
.icon-history:before {
	content: "y";
}
.icon-rotate:before {
	content: "A";
}
.icon-logout:before {
	content: "B";
}
.icon-login:before {
	content: "C";
}
.icon-download:before {
	content: "D";
}
.icon-check-circle:before {
	content: "O";
}




