body {
	font-family: 'roboto';
	margin: 0;
	background: #efefef;
	font-size: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

#left-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	background: white;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
	width: 15em;
}

#top-logo {
	width: 100%;
	line-height: 4em;
	display: block;
	padding: 0 0 0 5em;
	box-sizing: border-box;
	color: #E74C3C;
}

.menu-link {
	display: block;
	line-height: 3em;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	padding: 0 1em;
	&.active {
		background: #eee;
	}
}

.menu-line {
	height: 1px;
	background: #ccc;
	margin: 1em 0;
}

#rhs-container {
	border-left: 15em solid transparent;
	padding: 1em;
	background: #efefef;
}

.section-title {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.section-holder {
	margin: 2em 0;
	.section-title {
		cursor: pointer;

		&:after {
			content: " \25bc";
			font-size: 0.6em;
			line-height: 0.6em;
			vertical-align: middle;
		}

	}

	&.is-minimized .section-title:after {
		content: " \25b6";
		font-size: 0.9em;
	}

}

.image-container {
	background-size: cover;
	background-position: 50% 50%;
}

.item-card {
	width: 15em;
	height: 16em;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: inline-block;
	margin: 0.5em;
	position: relative;
	vertical-align: top;

	.image-container {
		height: 11em;
	}

	.details-box {
		padding: 0.5em;
	}

	.name {
		font-weight: bold;
		line-height: 1.5em;
	}
	.type {
		color: #777;
	}

	.card-link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.title-ancestry {
	font-size: 1.2em;
	font-weight: bold;
	color: #555;
	margin-bottom: 1em;
}

.top-content, .bottom-content{
	direction: rtl;
	text-align: left;

	>* {
		direction: ltr;
	}
}

.lhs {
	max-width: 50em;
	color: #333;
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;

	.long-desc {
		line-height: 1.5em;
		margin: 1em 0;
	}
}

.rhs {
	display: inline-block;
	width: 27em;
	margin-bottom: 1em;
	vertical-align: top;

	.main-image, .main-map-link {
		height: 13em;
		width: 13em;
		display: inline-block;
	}
}