
<div class="landing-background photo-div"></div>
<div class="landing-z-index">
<div class="landing-logo">
	<div class="logo"></div>
	<div class="logo-text">
		<b>Trip</b>Mind
	</div>
</div>

<div class="landing-holder">
	<div class="landing-text">
		<p>
			<b>Trip</b>Mind is a free Chrome extension for people who like to travel
		</p>
		<p>
			When you read something online about a place you’d like to visit,  <b>Trip</b>Mind automatically saves that information for you
		</p>
		<p>
			It organizes everything by destination, so you can easily find it, then share or download
		</p>
	</div>
</div>


<div class="landing-button-holder">
	<a href="https://chrome.google.com/webstore/detail/tripmind/jefanopdgmnpggnnicgfkbajikmabhgf" class="flat-btn red-flat-back white-text">Get it now</a>
	<div class="explanation white-text">From the Chrome Web Store</div>
</div>

</div>