<h1 style="color: #E74C3C; font-weight: 400;">Welcome to <b>Trip</b>Mind!</h1>
<h2 style="color: #333; font-weight: 400;">Here's how it works:</h2>

<img src="/assets/images/tutorial.png" width="600" style="float:left; margin-right: 1em;">
<p class="tutorial extension-only">
	For example, try looking for
	<a target="_blank" href="https://www.google.com/webhp?ie=UTF-8#safe=off&q=things+to+do+in+paris">"Things to do in Paris" on Google</a>
	, then click around on some of the attractions
</p>

<div class="tutorial online-only">
	<a class="flat-btn small no-extension" target="_blank" href="https://chrome.google.com/webstore/detail/tripmind/jefanopdgmnpggnnicgfkbajikmabhgf">Get my own TripMind ></a>
	<div class="flat-btn small has-extension" target="_blank" {{action 'openExtension'}} >Open TripMind ></div>
</div>

