<h1 style="color: #E74C3C; font-weight: 400;">Welcome to <b>Trip</b>Mind!</h1>
<h2 style="color: #333; font-weight: 400;">Here's how it works:</h2>

<img src="/assets/images/tutorial.png" width="600" style="float:left; margin-right: 1em;">
<p class="tutorial">For example, try looking for
	<a target="_blank" href="https://www.google.com/webhp?ie=UTF-8#safe=off&q=things+to+do+in+paris">"Things to do in Paris" on Google</a>, then click around on some of the attractions</p>
